@import url('https://fonts.googleapis.com/css?family=Lato|Orbitron|Russo+One');
/*
=============
Body and form
=============
*/
body {
    background: #fcfcfc;
}
section {
    margin: 70px 400px 0px 380px;
    padding: 40px 10px 20px 10px;
    width: 40%;
    height: 10%;
    border: 5px solid #000000;
}
form {
    padding: 0px 175px 0px 175px;
    position: relative;
}
img {
    margin: 10px 0px 0px 0px;
    position: relative;
}
i {
    left: 45%;
    position: relative;
}
select {
    left: 15%;
    position: relative;
}

/*
===========
Font
===========
*/
h1 {
    margin: -45px 330px 0px 60px;
    font-family: 'Russo One', sans-serif;
}
h2, 
h3 {
    font-size: 1.6vw;
    margin: 0px 100px 30px 100px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}
p {
    text-align: center;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
}

